[2017-04-01 09:42] sunbearc22 opened #1 "Step by step instructions to use vulkan needed"
I have installed setup.py.

Can you provide the step by step instructions (show explicit commands) to running example.py?
This will aid beginners to learn to use of your python wrapper for vulkan.  The documentation in README.md is not enough to go by.

I tried the below. Appreciate your guidance
[code]

[2017-04-02 07:52] realitix commented on #1
Hello @sunbearc22,
Thank you for your interest, you are totally right, I have to add step by step instructions. I do that tomorrow.
The module you need to install is pysdl2.

[2017-04-02 07:55] realitix commented on #1
By the way, you don't need to run the generator, the generator must be runned only if you want to fix a bug in the wrapper.
I will add a note about that too.

[2017-04-03 06:14] realitix commented on #1
@sunbearc22 I have updated the README. Don't hesitate to tell me if you need more informations.

[2017-04-03 07:08] sunbearc22 commented on #1
Thanks. I will access it later today and look forward to try it. Hav pip3 installed pysdl2. I notice it's proven for python 3.2 but not yet got 3.5 which I am using. In any case, I am looking forward to try out your instructions today and keep u posted.

Sent from my iPhone

[2017-04-03 07:22] realitix commented on #1
Don't worry, pysdl2 works with Python 3.5 and Python 3.6.

[2017-04-03 12:16] sunbearc22 commented on #1
$ python3 example/example.py
Traceback (most recent call last):
   File "example/example.py", line 9, in <module>
     from vulkan import *
   File
"/usr/local/lib/python3.5/dist-packages/vulkan-1.3.0-py3.5.egg/vulkan/__init__.py",
line 109, in <module>
     _lib = ffi.dlopen('libvulkan.so')
OSError: cannot load library 'libvulkan.so': libvulkan.so: cannot open
shared object file: No such file or

[2017-04-03 12:25] realitix commented on #1
Strange, the wrapper uses `dlopen`. So your SDK is clearly not available.
You can set theses environments variables to help `dlopen` (but it shouldn't be needed) :

[code]

[2017-04-03 12:45] realitix commented on #1
Indeed you are rigth, I have a problem too without LD_LIBRARY_PATH.
I'm fixing it

[2017-04-03 13:03] sunbearc22 commented on #1
In the /Vulkan/VulkanSDK/1.0.42.2, I issued the following commands:

$ ls
build_examples.sh  build_tools.sh  doc       Getting_Started.html
Release_Notes.html  setup-env.sh  via.html
build_samples.sh   config          examples  install samples
source        x86_64
$ source setup-env.sh
$ printenv | grep LD_LIBRARY_PATH
LD_LIBRARY_PATH=$HOME/Vulkan/VulkanSDK/1.0.42.2/x86_64/lib:
$ printenv | grep V

[2017-04-03 13:14] sunbearc22 commented on #1
Thanks for reopening..

On 03/04/2017 21:10, Jean-Sébastien B. wrote:

[2017-04-03 13:14] realitix commented on #1
Thanks for all your tests. GTX TITAN nice!
In `example.py`, I don't focus on doing a good utilization of Vulkan or SDL, it's just to show it works.

I have reopened this issue because I have done a mistake when using `dlopen` and I have to explain a little bit how to use the api.

[2017-04-03 13:15] realitix commented on #1
I will update the Readme tonight, meanwhile, you can look at `example.py`. If you want to talk to me, I am on IRC ##vulkan

[2017-04-03 14:33] sunbearc22 commented on #1
Thanks. Will have a go and keep you posted.

On 03/04/2017 21:15, Jean-Sébastien B. wrote:

[2017-04-03 16:48] realitix commented on #1
I have updated the Readme, can you take a look and tell me if it's ok or if you need more informations.

[2017-04-03 18:45] sunbearc22 commented on #1
_Suggested revisions:_

**API**

The vulkan wrapper gives you complete access to the Vulkan API, including extension functions.

**Code Convention:**

Similar to Vulkan, types like enumerations and structs are prefixed with Vk, enumeration values are prefixed with VK_ and functions are prefixed with vk. However, structs are represented as tuples, (please elaborate for the others)....

**Structs**

[2017-04-04 08:29] realitix commented on #1
Thanks a lot @sunbearc22, it's a high quality review!
I realize that I have badly explained some concepts. I will update the readme.
There is no tuple,  `VkInstanceCreateInfo()` is a function and parameters are just keyword arguments, the order doesn't matter. When I spoke about list, it's about `layers` and `extensions`. You don't have to create a CFFI object handling a C array, the wrapper will

[2017-04-04 08:57] realitix commented on #1
I have updated the README. I wait for your comments

[2017-04-04 15:37] sunbearc22 commented on #1
_Below are my suggested revisions. Thanks for considering them._

### **Code conventions**

Similar to Vulkan, structs are prefixed with Vk, enumeration values are prefixed with VK_ and functions are prefixed with vk.

**Structs**
Vulkan struct creation is achieved in vulkan using python functions. For example, if you want to create the Vulkan struct VkInstanceCreateInfo, you must be initialized i

[2017-04-04 15:42] realitix commented on #1
Nice I update tomorrow

[2017-04-05 06:26] realitix commented on #1
@sunbearc22 I have updated the README, do you see others things to improve ?

[2017-04-05 09:10] sunbearc22 commented on #1
Not at the moment. I trust I will learn more as I progress and then
suggest to you more documentations to add. Ok with you?

On 05/04/2017 14:26, Jean-Sébastien B. wrote:

[2017-04-05 09:11] realitix commented on #1
Perfect! I close the issue then.
Thanks

[2017-04-05 09:11] #1 closed

[2017-04-05 09:12] sunbearc22 commented on #1
Just noticed u have a typo for the word.

      Ressources. It should have Resources.

On 05/04/2017 14:26, Jean-Sébastien B. wrote:

[2017-04-05 09:13] realitix commented on #1
Ok I'm fixing it

[2017-04-10 13:31] sunbearc22 opened #2 "VkResult & vkCreateInstance"
[code]
Error message:
[code]
**Question 1:**
How do I call "VkResult" in your wrapper?  VkResult is use to return the state of Vulkan function. I noticed your example.py code, VkResult is not used. How can I report the state of a Vulkan function in vulkan?

**Question 2:**
In the definition of `instance` using `vkCreateInstance`, what do I give to `pInstance`? My confusion here is `instance` is cr

[2017-04-10 13:41] realitix commented on #2
Hello @sunbearc22.

Take a look at this part of the README: https://github.com/realitix/vulkan#functions

## 1
The wrapper handles VkResult for you. If VkResult is not VK_SUCCESS, an exception is raised.
So in your example, If you want to be sure that the function is OK:

[code]

## 2

Here the magic of this wrapper, functions will return what you wait for. Don't forget something, in Python, there

[2017-04-10 13:43] realitix commented on #2
Don't forget that I am on IRC, we can speak faster by chatting

[2017-04-10 14:00] sunbearc22 commented on #2
Thanks. I understood Ans 1. My bad for forgetting you wrote that in Readme. I was just about to reply with the same answer. I think it will be helpful to include your answer 1 as an example to Readme too. Just a suggestion.

For Ans 2, is there another example you can give?

[2017-04-10 14:09] sunbearc22 commented on #2
Just tried IRC ##vulkan but you are offline. I am sunbearc22.

[2017-04-10 14:32] sunbearc22 commented on #2
How do i see the next level of error message under `VkError`?
[code]
Is this correct?
[code]

[2017-04-10 14:34] realitix commented on #2
Sorry I was offline.

For answer 2, I can point you different example in the `example.py` file:

Return an object:

https://github.com/realitix/vulkan/blob/master/example/example.py#L18
https://github.com/realitix/vulkan/blob/master/example/example.py#L45
https://github.com/realitix/vulkan/blob/master/example/example.py#L200

Return a list:

https://github.com/realitix/vulkan/blob/master/example/e

[2017-04-10 14:38] realitix commented on #2
For the last question:

You must do:

[code]

[2017-04-10 14:57] sunbearc22 commented on #2
Thanks for the Ans 2 elaboration. Helpful.

Can you clarify if my Exception code is correct for my question on Ans 1? I submitted the code with not python error but not sure if it is correct.

[2017-04-10 14:58] realitix commented on #2
I have just answered above.

[2017-04-10 15:09] sunbearc22 commented on #2
Sorry. Screen did not refresh so did not see your answer. So what is the purpose of VkError & VkException given that their subsets may be called directly?

[2017-04-10 15:15] realitix commented on #2
It's a classic Python pattern.
The goal of the parent exception is to catch all *others* errors. I mean, errors that you don't care.
For example, you could want to react if there is an error (and you don't need to know the exact error)...
In well written Python script, you will always find this patter, a precise exception that extend a global exception.
It gives you much freedom.

[2017-04-10 15:23] sunbearc22 commented on #2
Got it.

[2017-04-10 15:23] realitix commented on #2
Can I close this issue ?

[2017-04-10 15:37] sunbearc22 commented on #2
yep. Thanks.

[2017-04-10 15:37] realitix commented on #2
You're welcome !

[2017-04-10 15:37] #2 closed

[2017-04-24 20:21] sunbearc22 opened #3 "typo in example.py line 132, 133"
I believe there is a typo in example.py line 132 & 133.
For Win32 window, it say:
[code]
Instead, I think It should be:
[code]

[2017-04-25 07:32] realitix commented on #3
I will test it on my Windows computer to be sure

[2017-05-03 20:04] sunbearc22 opened #4 "example.py: queueFamilyIndices appears undefined (line 283) and typo in line 281"
In examply.py line, it writes
`281        imageSharingMode = VK_SHARING_MODE_CONCURREN`
`283        pQueueFamilyIndices = queueFamilyIndices`

Issues:
1. There is a typo in 281, letter 'T" is missing: it should be `VK_SHARING_MODE_CONCURRENT`
2. The term `queueFamilyIndices` appears to be undefined. I believe `queueFamilyIndices = {queue_family_graphic_index, queue_family_present_index}` should ei

[2017-05-04 07:30] realitix commented on #4
Thanks, it's fixed

[2017-05-04 07:30] #4 closed

[2017-05-18 16:46] griffin2000 opened #5 "PFN_vkCreateWin32SurfaceKHR not defined error on windows"
I get the following error running the example on Windows. It looks like the function vkCreateWin32SurfaceKHR is defined in the DLL but the type 'PFN_vkCreateWin32SurfaceKHR is not.

[code]

[2017-05-18 18:20] realitix commented on #5
Hello @griffin2000, thanks for reporting this issue. I will fix it at the end of next week because I have to buy a new computer with Windows with Vulkan support.
I will let you know.

[2017-05-18 18:23] griffin2000 commented on #5
Thanks. I may also take a look myself. Looking at the code it just seems that it just needs an extra wrapper function for vkCreateWin32SurfaceKHR added to _instance_ext_funcs, right?

[2017-05-18 19:12] griffin2000 commented on #3
There is also one on line 134: hwdn instead of hwnd

[2017-05-18 19:21] griffin2000 commented on #5
I was able to fix this but hit another issue as one of the Win32 structure is not defined either

[2017-05-18 19:26] griffin2000 opened #7 "VkWin32SurfaceCreateInfoKHR not defined in Windows Vulkan DLL"
The structure VkWin32SurfaceCreateInfoKHR is not defined in the Windows DLL (Nvidia drivers Windows 8.1).

The result is this error in the example code:

[code]

[2017-05-18 19:55] griffin2000 commented on #5
Just realized both this and https://github.com/realitix/vulkan/issues/7 are the caused by https://github.com/realitix/vulkan/blob/master/vulkan/_vulkan.py being generated on a non-windows platform. This means none of the windows symbols are defined. I guess the correct solution is to have one version of this file for each platform. How is it generated?

[2017-05-19 15:18] sunbearc22 opened #8 "example.py "ffi" undefined"
https://github.com/realitix/vulkan/blob/master/example/example.py#L647 gives
`submit_list = ffi.new('VkSubmitInfo[1]', [submit_create])`

I think there is a problem here: `ffi` has not been defined.
https://github.com/realitix/vulkan/blob/master/example/example.py#L124 did define `_ffi` but not `ffi`. Also, `_ffi`  is only defined for Windows OS and not for any other platform.

[2017-05-22 05:42] realitix commented on #8
Hello @sunbearc22, it's not an error, the ffi variable is imported with `from vulkan import *`.
That's why we should never user `import *` ! But it's just an example file, that's why I did it.

[2017-05-22 05:42] #8 closed

[2017-05-28 13:10] realitix commented on #3
You can try on windows, it works now !

[2017-05-28 13:10] #3 closed

[2017-05-28 13:11] realitix commented on #5
Fixed in 1.0.49 version

[2017-05-28 13:11] #5 closed

[2017-05-28 13:11] realitix commented on #7
Fixed in 1.0.49.

Thanks

[2017-05-28 13:11] #7 closed

[2017-06-01 22:29] griffin2000 commented on #7
Is this definitely fixed? I still don't see that vkCreateWin32SurfaceKHR in the file. I think there will need to a different file (or FFI object) for each platform. How is that FFI data generated?

[2017-06-02 06:51] realitix commented on #7
You can fint it here for runtime: https://github.com/realitix/vulkan/blob/master/vulkan/__init__.py#L4209
And here for generation https://github.com/realitix/vulkan/blob/master/_cffi_build/vulkan.cdef.h#L3321

Where are you looking at ?

[2017-06-03 06:31] griffin2000 commented on #7
Oh yeah, quite right. Didn't update correctly, running now for me.

[2017-06-03 07:25] griffin2000 opened #10 "Queue enumeration code incorrect in example"
The code as it was defined will get different values for queue_family_graphic_index and queue_family_present_index. Which I think is not valid.

To get the example to work I had to replace that code with this (based on pyVulcan example code)
[code]

[2017-06-03 08:41] realitix commented on #10
Thanks @griffin2000 for opening this issue. Can you explain me where the current code fails ? What is the output of `queue_family_graphic_index`, `queue_family_present_index` with current code/with your new code.
My graphic card hasn't present queue family so indeed it can be bad here.

[2017-06-03 18:06] griffin2000 commented on #10
I get queue_family_graphic_index=0 and queue_family_present_index=1 with the ToT code. This results in a  blank screen for me.

It is valid to have different queues (as you set imageSharingMode to VK_SHARING_MODE_CONCURRENT when you create the swap chain). But, while I am not 100% sure, I think it will mean that the rendering happens on a different GPU than the present  (my laptop has built-in Int

[2017-06-05 09:35] sunbearc22 opened #11 "Questions on heapIndex, flags and propertyFlags provided by pMemoryProperties."
I have used the vkGetPhysicalDeviceMemoryProperties to obtain the memory properties of a specific physical device, i.e. GPU, and printed out the returned values.

[code]

[code]

Based on this output, I can see there are 2 memory heaps.

- The 1st heap has flags=1 that indicates that it refers to the local device memory and it has 6442450944 bytes. I have checked with the GPU spec, the GPU is supp

[2017-06-05 17:38] sunbearc22 commented on #11
I found out that:
- propertyFlags = 0 means a memory allocation that GPU cannot directly access, and therefor GPU won't have the fastest access to it as compared to the GPU accessing it's own/local memory.
- heapIndex = 1 refers to the 2nd element of the memoryHeaps array.
- it is reasonable for the 8th and 9th elements of memoryTypes has a heapIndex of 0 and a propertyFlags of 1 as it is pointing

[2017-06-05 17:38] #11 closed

[2017-06-06 09:08] realitix commented on #10
I will take a look soon

[2017-06-07 08:58] realitix commented on #11
Thanks @sunbearc22 for theses explanations

[2017-06-08 13:43] realitix commented on #10
I think the problem comes from the semaphore I use. Semaphore only works on a single queue and with presentation queue, you have to queue so we have to synchronize with another way.

[2017-06-14 09:43] realitix commented on #10
I can force present queue index to be the same as graphic, that way it will work everytime. It's not important from my point of view because it's an exemple. What is important is that it works for everyone.
What do you think about that ?

[2017-07-17 07:19] mackst opened #14 "class _StrWrap unsupported python2"
[code]
This is not supported on python2
[code]

If you run on python2 will get this error.
    return super().__setattr__(key, value)
TypeError: super() takes at least 1 argument (0 given)
Exception TypeError: "'NoneType' object is not callable" in <bound method HelloTriangleApplication.__del__ of <__main__.HelloTriangleApplication object at 0x000000000306F888>> ignored

[2017-07-17 08:06] realitix commented on #14
Hello @mackst. Thanks for the report.
You are right, I didn't test on Python2 after adding this class.

[2017-07-17 08:16] realitix commented on #14
Fixed here https://github.com/realitix/vulkan/commit/da62f4a2d14fb3fa03fdaa69e4173cdef526a57d

Thanks !

[2017-07-17 08:16] #14 closed

[2017-07-17 08:57] realitix commented on #10
I have fixed it in https://github.com/realitix/vulkan/commit/1201847c709eca86aadcea40de5e56bffd29b901. Can you try again ?

[2017-07-24 13:05] TheSilvus opened #15 ""Invalid SurfaceKHR object" when running example"
When trying to run the example, it crashes and I have to forcefully close it. I tried pulling and installing the library from the most recent master branch, but this didn't fix the issue.

[code]

[2017-07-24 13:09] realitix commented on #15
Hello @TheSilvus
Can you give me your OS version and architecture (32, 64 bits?)

[2017-07-24 13:16] TheSilvus commented on #15
Windows 10, 64bit
Thanks for your fast reply!

[2017-07-24 13:17] realitix commented on #15
Please @TheSilvus, can you add
[code]

and give me the content of `wm_info.subsystem` ?

[2017-07-24 13:19] realitix commented on #10
I close this issue now.
You can open it again if you still have the error.

[2017-07-24 13:19] #10 closed

[2017-07-24 13:19] TheSilvus commented on #15
It simply prints
[code]

[2017-07-24 13:21] realitix commented on #15
Ok it's good, 1 means Windows.

Can you print the content of `surface` now ?

[2017-07-24 13:26] TheSilvus commented on #15
[code]

[2017-07-24 13:31] realitix commented on #15
Strange... It was working on my Windows 10 but with an intel IGPU.
Maybe my last commit broke it. Can you `checkout` on the commit `8a7809966050ca96aa33e4df23ae5a33f76b0839` and try again ?

[2017-07-24 13:48] TheSilvus commented on #15
Doing that didn't work for me. I reinstalled the module after doing that using `python setup.py install`, that should be enough - right?

I'll be on the go and be able to report back in 3-4 hours.

[2017-07-24 13:56] realitix commented on #15
The checkout only update the exemple file so it should be enough.
It's a strange bug you face, I have to test it on my Windows machine, but I can do it only from September.

[2017-07-24 17:22] TheSilvus commented on #15
Is there anything else we can do to fix this? Anyway, thanks for trying to help!

[2017-07-25 07:17] realitix commented on #15
Of course, you can try to understand the problem and fix it. By the way, can you try the examples in this pull request https://github.com/realitix/vulkan/pull/13 ?
Theses examples are written for windows so it should work.

[2017-07-25 11:17] TheSilvus commented on #15
The same error occurs. I tried running the example of another library (in another language) to ensure nothing is wrong with my install - it worked.
I'll try to run the example when I'm back home, in about 2 weeks. I'll eventually be able to run it on a friend's PC, we'll see about that.
Thank you for your active help!

[2017-07-25 11:23] realitix commented on #15
Thanks @TheSilvus for the active report.
We'll find the problem!

[2017-07-25 13:16] Berserker66 opened #16 "Debug Callback does not work."
Or at least it doesn't for me.

If we take the Vulkan Tutorial:
https://vulkan-tutorial.com/Drawing_a_triangle/Setup/Validation_layers#page_Message_callback

Then not removing the debug callback before destroying the instance should yield a debug output.

So we change the almost last line in the vulkan example to
#vkDestroyDebugReportCallbackEXT(instance, callback, None)
So that we intentionally t

[2017-07-25 13:28] realitix commented on #16
Hello @Berserker66,
I just tried and I get the good log `DEBUG: DebugReport Debug Report callbacks not removed before DestroyInstance`.

I know the debug callback works great because I use it a lot (on Windows 10 64 bits too).
I'm sorry to say it looks like a driver bug.

Can you try others vulkan demos to confirm that it's your driver ?

[2017-07-25 13:34] realitix commented on #15
It may be an ABI mismatch. I hope not because it's hard to debug.

[2017-07-25 15:03] Berserker66 commented on #16
What would that "others vulkan demos" be? A link would likely help.

[2017-07-25 16:01] TheSilvus commented on #15
I tried it on a friends machine (also Windows 10, although another graphics card) - it worked there, so it's probably related to my machine.

[2017-07-25 16:04] realitix commented on #16
In the Vulkan SDK, you have some examples available and this repository is very good for demos: https://github.com/SaschaWillems/Vulkan

[2017-07-25 16:05] Berserker66 commented on #16
Well, too late for that, I went from AMD beta drivers I think 17.10 to 17.7 and now everything works just fine. Thanks for helping, though.

[2017-07-25 16:23] realitix commented on #16
Nice! I close

[2017-07-25 16:23] #16 closed

[2017-07-25 16:25] realitix commented on #15
Sure, I let the issue open for now.

[2017-07-27 18:00] ompadu opened #18 "How would one create a Vertex Buffer (vulkan memory management)?"
Hello, I'm trying to extend the _vulkan_ example using [this tutorial](https://vulkan-tutorial.com/Vertex_buffers/Vertex_buffer_creation) and the VULK engine as a guide. It was all and good until I've hit a memcpy. I tryied to gain some insight looking at [vulk/vulkanobject.py, line 787](https://github.com/realitix/vulk/blob/6326795a47ab41ee4c7a37d2e69a8faf6f2087b0/vulk/vulkanobject.py#L787), but

[2017-07-28 06:23] realitix commented on #18
Hello @ompadu !
Yes I faced this issue too, not so easy to memcpy with Python...

So you can find my solution here: https://github.com/realitix/vulk/blob/master/vulk/graphic/mesh.py#L160
I use numpy to store my vertices array and I can memcpy it with `numpy.copyto`. Like you can see, I tell numpy that the format is `uint8` to do it bit by bit.
I didn't test but I think you can use `cffi` to do it:

[2017-07-28 08:12] ompadu commented on #18
I didn't even think to use `numpy`. I'll go with that as I don't really have any direct `cffi `experience. Thank you :)

[2017-07-28 08:16] realitix commented on #18
Good luck!

[2017-07-28 08:16] #18 closed

[2017-07-28 09:44] mackst opened #19 "A better design for vkMapMemory function"
I am looking at vulkan compute example. I think the vkMapMemory function can have better design for better performance.

Usually fill mapped memory data
[code]
Above is OK. But if you want to fetch the data from GPU buffer
[code]

array.array work with cffi example

[code]

So how about we can do something like this with vkMapMemory
[code]

[2017-07-28 11:53] realitix commented on #19
Hello @mackst, thanks for the example.

I don't exactly understand your question, is it working with your example ? What do you want to change with `VkMapMemory` ?

[2017-07-28 19:24] Berserker66 opened #20 ""Random" Value changes."
So, not sure where the problem comes from but basically I tried to move the example to a bit more of an object oriented style and something broke, that the validation layers and other debugs are not catching.

When I run my example version, you end up with results like these:
https://i.imgur.com/vfqQriT.png
https://i.imgur.com/413Ij60.png
https://i.imgur.com/Y6Yx1yR.png

So seemingly random differ

[2017-07-28 20:16] realitix commented on #20
Hello @Berserker66, is this issue directly related to the Vulkan wrapper or is it more a general question about Vulkan? If you need inspiration, you can take a look at my Vulk project.
I wait for your answer before digging deeper.

[2017-07-28 20:32] Berserker66 commented on #20
It *might* be related to the vulkan wrapper, as there is - as far as I can tell - pointer stuff going awry. I haven't yet found the actual source of the problem, as the validation layer[s] only tell the result of it, not the source.

[2017-07-29 07:41] mackst commented on #19
Yes it works. What I want is VkMapMemory either can be a more lower or higher level function.

lower level just like above user can define their data pointer to pass to VkMapMemory function.
higher level would be VkMapMemory function can take array instance cast to data pointer and return the pointer.
For higher level may also need to support numpy array in the future.

[2017-07-29 08:16] realitix commented on #19
If I understand correctly your issue, you want to pass a custom `ppda` whereas currently you can't because the wrapper do it for you and return the `ppda` pointer.

Moreover, managing yourself the `ppda` would allow you to reuse the pointer.

Is is what your are saying ?

[2017-07-29 09:51] mackst commented on #19
Yes

[2017-07-29 12:16] realitix commented on #19
OK @mackst.
I noticed that in your example, you allocate the `ppda` pointer before calling `VkMapMemory`. By doing that, `VkMapMemory` will replace the address in the pointer by the mapped address. So I don't understand why you allocate memory for the pointer.
`VkMapMemory` allows you to update the memory directly in the GPU. I don't think it's a good idea to reuse a reference across several `VkMa

[2017-07-31 03:59] mackst commented on #19
I try again. I think your are right

[2017-07-31 03:59] #19 closed

[2017-08-03 15:33] Berserker66 opened #23 "New AMD Vulkan Driver breaks example."
So, updating from AMD 17.7 drivers to 17.7.2 has made the example crash.
All other vulkan applications still work (VulkanSDK stuff, Doom..)

The console output:
https://pastebin.com/yi9Lxd7G

Vulkaninfo before the update:
https://pastebin.com/rmnmN15V

Vulkaninfo after the update:
https://pastebin.com/vsF8Amxz

[2017-08-04 00:45] realitix commented on #23
Hello @Berserker66,
The problem could be because of the selected extensions (all) or because of a bad creation of queues.
I will take a look soon, I'm in Australia right now.

[2017-08-04 15:19] Berserker66 commented on #23
So, yeah, one of those extensions is the cause. Turning on only VK_KHR_swapchain makes the example work again.

[2017-08-13 03:08] Berserker66 opened #29 "Vulkan Memory Allocator"
There is a library for vulkan memory allocation management by GPU-Open
https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
I keep seeing it recommended in various documentation and tutorials.
It feels like a nice fit for a python-vulkan module as it gives the option for simpler memory management, something that people using Python generally opted out of.

If possible, including this

[2017-08-13 05:51] realitix commented on #29
Hello @Berserker66, indeed it's a nice library. From my point of view, it's better to create another wrapper dedicated to this library and to put `vulkan` as a dependancy. It seems very simple to wrap with cffi. I will take a look and wrap it when I have time. Thanks for the tips! I let this issue open to keep this in mind.

[2017-08-15 08:42] Berserker66 commented on #20
I found the issue by now - turns out if you have nested vulkan structures, such as extent within a viewport and the outer structure can no longer be "named" - it gets garbage collected but takes any inner data still bound to it with it. So if you use a "self.extent" across a class, then if you use that within a vulkan structure that gets used and then discarded, then your self.extent is filled wit

[2017-08-18 03:49] realitix commented on #20
Hello @Berserker66, indeed you have to keep a reference to the inner object. I faced the same issue in my Vulk project. I could add a weak reference directly in the wrapper, like that you wouldn't need to manage it yourself. What do you think about it?

[2017-08-18 03:51] realitix commented on #23
Thanks for the tips. I'm going to update the example to avoid error like that

[2017-08-18 08:43] Berserker66 commented on #20
Child objects persisting as long as their parent does is expected behaviour in Python, so I do think the reference should be added. If you don't want to add it for performance reasons, then at least a notice should be added to the readme, so that people don't end up trying to debug this issue for hours, like I did.

[2017-08-31 09:00] realitix commented on #20
I misunderstood your problem, indeed it's more problematic that I though at first. I am talking with the cffi maintainer to see how to avoid this issue.

[2017-08-31 09:07] realitix commented on #20
It shouldn't happen for cffi maitainers. So it may be something else. Can you show me (in a gist) only the small part of the code where you get this issue.

[2017-08-31 09:41] Berserker66 commented on #20
Hm I'll see if I can find one. Here is how this problem still manifests itself in my current project, in case that gives you an idea.

As I kept having random stuff in my extent, I made this as part of my main interface:

    extent = property(lambda self: VkExtent2D(*self.resolution))

If I comment that out and instead bind go back to :

    self.extent = get_swap_extent(surface_capabilities)

Th

[2017-08-31 09:54] Berserker66 commented on #20
Well, this is based on your example.
https://gist.github.com/anonymous/855bfef82dfa53a4fbbf612d83dcec62

Let it run and it some point during draw_frame it will notice that the extent got GCed.

[2017-08-31 09:59] Berserker66 commented on #23
The new version of the vulkan SDK (1.0.57) now has some validation layer info on this issue:

    DEBUG: ParameterValidation VkDeviceCreateInfo->ppEnabledExtensionNames must not simultaneously include VK_KHR_maintenance1 and VK_AMD_negative_viewport_height. The spec valid usage text states 'ppEnabledExtensionNames must not contain both VK_KHR_maintenance1 and VK_AMD_negative_viewport_height' (http

[2017-08-31 09:59] realitix commented on #20
Thanks for the reproducible code, I will look what's wrong.

[2017-08-31 10:12] realitix commented on #20
After more tests, it works with cffi==1.9.1 and crash with cffi==1.10.0 so the bug comes from cffi. I have to check commits between theses two versions.

[2017-08-31 10:36] realitix commented on #20
My research so far:

1.10.0 = KO
1.9.2 = KO
1.9.1 = OK

[2017-08-31 10:41] realitix commented on #20
I found out the bug!

It's in this commit : https://bitbucket.org/cffi/cffi/commits/b6adad5f4ea343f515563917826b4c66e2705ac8

[2017-08-31 13:35] realitix commented on #20
I have opened an issue on cffi bugtracker, we have to wait for Armin to answer.
Nice catch @Berserker66 !

https://bitbucket.org/cffi/cffi/issues/327/regression-from-191-to-192

[2017-08-31 15:46] realitix commented on #20
@Berserker66 Arigato found the problem. In the wrapper, this line is wrong: https://github.com/realitix/vulkan/blob/master/vulkan/__init__.py#L1939

I will update it and check if it works. It's a major bug because it affects all objects created.

[2017-08-31 16:26] Berserker66 commented on #20
On the note of random errors. I my project I have the occasional validation layer complaint about not checking memory requirements before allocating. Yet I know this is done and this only happens when multi-threaded. I am fairly - though no guarantees - certain that this is not actually a fault on my part as it always succesfully allocates and runs and the only hint that anything goes "wrong" is t

[2017-08-31 16:28] realitix commented on #20
I don't think that it's related but we'll see

[2017-09-07 15:57] realitix commented on #20
I continue on this. I found out the part of the cffi code that creates this bug.

[2017-09-08 06:24] #20 closed

[2017-09-08 06:27] realitix commented on #20
@Berserker66 I found out the problem: we were not returning a new struct but a child struct. Check this commit: https://github.com/realitix/vulkan/commit/608213158c79a4ecdb44395af77f2d138f1029ca

[2017-09-08 08:10] Berserker66 commented on #20
Interesting. My multithreaded issue is indeed its own issue then. I also know that it only happens on nvidia but I have no nvidia card to test the actual problem :(
My friend who has an nvidia doesn't really get useful bug reports back to me.

[2017-09-08 08:14] realitix commented on #20
Since the child struct is allocated through the parent struct (by Vulkan SDK), it seems normal to clear it too. Can you show a minimal code for your multi-thread issue.

[2017-09-08 12:51] Berserker66 commented on #20
Can't look into it now as I'm not home, but in the long run it's a logistical issue, I need someone with nvidia to test my project every now and then, as it turns out almost everyone I know uses AMD graphics. It also isn't an open source project so that makes posting code a bit of an issue.

[2017-09-08 16:40] #23 closed

[2017-09-08 16:41] realitix commented on #23
Thanks @Berserker66. I fixed it.

[2017-09-26 13:49] realitix commented on #29
Hello @Berserker66,
I created a first wrapper of Vulkan Memory Allocator here: https://github.com/realitix/pyvma
It's a work in progress.

[2017-09-26 13:49] #29 closed

[2017-09-26 14:05] Berserker66 commented on #29
Thank you!

[2017-09-28 20:45] Berserker66 opened #32 "Cython/C bindings"
In a nutshell, something similar to the numpy <-> cython bridge, which allows you to "cimport" numpy, giving you typed and direct access to numpy.

In this module, this would mean there is a cython api, through which you work directly with the C structures and types (therefore no conversion between C and python - which is, and probably will always be, the slowest part of this module).

I don't kno

[2017-09-29 06:08] realitix commented on #32
Hello @Berserker66, I didn't think about Cython and I don't know much about it.
In my opinion (but I may be wrong), you can directly use the Vulkan header in Cython (like you say) and by passing the VkInstance and VkDevice, it should work.
What do you mean by `modules error checking` ?
I don't do error checking in the module, that's the purpose of Vulkan layers.

Can you help me to better understa

[2017-09-29 14:27] Berserker66 commented on #32
If you use cython directly, you lose this section of features:
https://i.imgur.com/MpHTagU.png
and have to wrap it yourself.

Just - considering this wrapper is already automatically generated, I was kind of hoping it might not be too much work to add a cython output.

[2017-09-29 14:42] realitix commented on #32
Indeed @Berserker66,
Since the model is generated, it's only a matter of jinja2 template to write a new wrapper.
So in theory, it can be done easily, but it must be done by someone who know Cython pretty well.
Do you know someone who could help ?

[2017-09-29 15:38] Berserker66 commented on #32
I don't really know anyone - I use cython a lot though, - but never really messed with C libraries directly. If I find a spare week somewhere I might be able to do it.

[2017-10-01 16:04] Berserker66 opened #33 "Auto-fill sType"
The sType has a default value. In the C/C++ version of vulkan, there is no such thing as a default structure value, so it has to be filled in manually. Since this wrapper uses keyword arguments anyway, it should be reasonable to make the default sType the default value for the sType kwarg, instead of None. Should, for some reason an overwrite or explicit sType be wished, this would still be possib

[2017-10-02 04:52] realitix commented on #33
Hello @Berserker66, yes it's a nice feature. I will add it.
Did you see the answer on reddit ? Strange man...

[2017-10-02 04:53] realitix commented on #32
If you need information to use the generator. You can talk to me by email (in git commit list) or on IRC. I'm connected to the #vulkan channel and I am `realitix`

[2017-10-02 15:27] realitix commented on #32
I updated the SDK to 1.0.61

[2017-10-02 18:04] Berserker66 commented on #32
I tried for a bit, didn't get very far.

My first shot is to try and just compile the existing template with cython and see if that already gives a benefit or not - sometimes it does.

Well, first snack the cpp command does not exist on windows and I've looked around a short bit for an alternative and it looks like there are, but then I don't know how to translate some of the cmd line arguments an

[2017-10-05 09:41] mackst commented on #32
I don't know if you guys heard of pybind11.
https://github.com/pybind/pybind11

I'm not a C\C++ programmer but I tired it few days ago.

[code]

[2017-10-06 01:08] sunbearc22 commented on #32
Thanks for sharing.

Can you tell me what's the diff. btw pybind11 and cffi?

Also, how does C++11 compare with C, which Vulkan is written in?

Thanks.

On 05/10/2017 17:41, mack stone wrote:

[2017-10-06 03:29] mackst commented on #32
I think the main diff is pybind11 can very easy to create Object-oriented code in C++. cffi can't do that in C correct me if I'm wrong. With pybind11 all your code write in C++. cffi can be python or C+python.

Above using in python
[code]

I'm not a C\C++ programmer. Can't answer that.

[2017-10-09 05:05] realitix commented on #32
Hello,
Please open another issue if you need to talk about another subject. This issue is about Cython.

Thanks.

[2017-10-11 14:29] sunbearc22 opened #34 "Why 1 item and not 2 items is returned by vkGetPhysicalDeviceSurfacePresentModesKHR?"
Hi realitix,

I noticed that for function vkGetPhysicalDeviceSurfacePresentModesKHR, it only returns the [presentModes](https://github.com/realitix/vulkan/blob/master/vulkan/__init__.py#L4468). I was expecting it to return both `presentModes` and `presentModeCount` as defined in [Spec](https://www.khronos.org/registry/vulkan/specs/1.0-extensions/html/vkspec.html#vkGetPhysicalDeviceSurfacePresentMo

[2017-10-11 14:54] Berserker66 commented on #34
I've seem this too, but I liked this behavior. in python we have len() - C does not and I've always had to iterate over the returned lists anyway, I've never needed only the count.

As for what it is doing.  ffi.new(<insert type here>, <insert amount here>) gives you an array of amount items of type.

[2017-10-11 15:07] sunbearc22 commented on #34
I was thinking that if I see a Vulkan function returning multiple pointers like below,
[code]
then with vulkan, I could access them by
[code]
Does this format make sense?

[2017-10-11 15:38] Berserker66 commented on #34
Yeah, that'd be the pythonic way of doing it, assuming of course, that we ignore that fact that python supports lists/arrays as objects.

II feel like the proper answer here is more philosophical than technical. It would be more "pure" to return the amount, but I don't see a technical reason to do so as it's implicated in the array object.

Then there is the aspect of expected outcome, which for s

[2017-10-11 15:59] realitix commented on #34
Hello @sunbearc22, like @Berserker66 told you, it's on purpose. Indeed it's philosophical. The goal is to be a very thin wrapper BUT it's Python and we can't ignore that. So I had to make a choice to know how far we pythonize this module. The advantage of a small wrapper like that (same functions names, struct names, constant names as the original C version) is that you can easily google the code

[2017-10-11 18:05] Berserker66 commented on #34
Hm. By the same token though, should it not also work this way the other way around then?
You know, for consistency.
So in this example:

[code]
enabledLayerCount and enabledExtensionCount should then be automatic - or optional?

[2017-10-11 18:27] sunbearc22 commented on #34
@Berserker66  Thanks for sharing your thought.

@realitix,

I read the `vkEnumerateDeviceExtensionProperties` example. This function returns 3 pointers. So in your convention, how do I access `pLayerName`,` pPropertyCount` and `pProperties`? The document say a list of object is returned. So for

`available_logical_device_extensions = vk.vkEnumerateDeviceExtensionProperties(physicalDevice=self.phys

[2017-10-11 18:33] Berserker66 commented on #34
What you are getting returned from vkEnumerateDeviceExtensionProperties is - assumed it was called correctly - pProperties, which is an array of VkExtensionProperties. If you look that structure up, :
https://www.khronos.org/registry/vulkan/specs/1.0/man/html/VkExtensionProperties.html

You can find that it has the extensionName and specVersion fields.
So you can do:
vkEnumerateDeviceExtensionProp

[2017-10-11 18:37] Berserker66 commented on #34
Slightly unrelated, but will likely help you. This exists:
https://gist.github.com/inactivist/4ef7058c2132fa16759d
You can tell it to convert any cffi structure to a dict and then pretty print that to get an idea of what you have. It certainly helped me. However, the version as posted there did not work for me, likely due to a different version of cffi, so here's the one fixed up by me, which may

[2017-10-11 18:49] sunbearc22 commented on #34
@Berserker66 Thanks for your explanations.  Also for the conversion scripts. I will try it out later in the day.

[2017-10-11 20:23] realitix commented on #34
Good point @Berserker66 about the other way around. Indeed the api is not consistent. I will fix it. The default value will be the `len`.

[2017-10-11 23:26] Berserker66 opened #35 "SDL2 now has vulkan support"
So, PySDL2 updated:
https://github.com/marcusva/py-sdl2
News Article:
https://www.pygame.org/news.html

Now uses SDL2 2.0.6, which has vulkan support, as in it can now create a vulkan instance attached to a window "for you".

Should the SDL2 example be updated to use this functionality? Or should the old way be kept to show how this might be done with other frameworks that don't have out of the bo

[2017-10-12 11:32] Berserker66 commented on #34
If you look at the pastebin again, you can see that __convert_struct_field is the first function it defines. That is what you need to call. I don't get where the "_Setup" bit comes from at all, it seems you're including the class name for some reason when this is a function, not a method.

[2017-10-12 14:17] realitix commented on #35
Hello @Berserker66, as you say, I think it's better to show the detailed code. Maybe we could write both of the version but it's redundant. What is your opinion about it ?

[2017-10-12 15:22] Berserker66 commented on #35
Since it is meant to serve as an example, I think it is important to preserve the "old" step by step method, but at the same time, it is also important to show the "proper" way to do it.

I'm not sure what the best way to accomplish that is. The two obvious ways, I think, are to either have two examples (at least for a time), showing both ways.
Or, the example gets restructured to a more object or

[2017-10-12 18:03] sunbearc22 commented on #34
@Berserker66  Noted your 3 points. `convert_to_python(s) worked partially. I tried
[code]
Output is given below and is correct:
[code]
However, it did not work on surface Format:
[code]
 Error message:
[code]
Do you know what is causing this error?

The reason I did not try `convert_to_python( getattr( s, field )` was because I thought it was the child of `__convert_struct_field( s, fields )` beca

[2017-10-12 19:36] Berserker66 commented on #34
Mh, that is an interesting anomaly. ffitype.length for the surface formats is None. despite it reporting it is a type of array.
This might be a bug in cffi. It feels wrong. The data is instead in item.. it is rather weird. I can hack a patch that makes it work, but not sure if we may have found a cffi bug.

The structure, using PyCharm debugger:
https://i.imgur.com/fALm8F3.png

[2017-10-12 19:43] Berserker66 commented on #34
This is the patch that makes it work:

[code]

So yeah, it is an array with 1 item, but it says the length of the array is None instead of 1.

[2017-10-13 02:36] sunbearc22 commented on #34
@Berserker66 Thanks. Patch works. Noticed the changes here:
[code]
Can you tell me why it is possible for a function to call itself? Would this not result in an infinite loop? Why not write:
[code]
?

[2017-10-13 12:44] Berserker66 commented on #34
This is basically programming 101 - but anyway.

Functions can call themselves, this is called recursion:
https://en.wikipedia.org/wiki/Recursion_(computer_science)

Yes, you can end up with an infinite loop. Here's some things why you don't:
1. Python protects you against infinite loops and has a maximum recursion depth, you can should it ever happen, gracefully try - except out of it.
2. There i

[2017-10-13 13:21] realitix commented on #35
Indeed @Berserker66, If you want to fully manage your Vulkan instance, you need the current example. Using the `pysdl2` is not the goal of this sample so we can stay as is. Still it was a good remark and we keep the trace in this ticket history.
Thanks @Berserker66 .

[2017-10-13 13:21] #35 closed

[2017-10-13 17:13] sunbearc22 commented on #34
@Berserker66 Hey, thanks for your explanations. It brightened up my day. ;)
@realitix I found the helper functions shared by @Berserker66 useful, I like to suggest that they appended to vulkan to help users, such a a module of helper functions. What do you think? @Berserker66 are you ok with this idea?.

[2017-10-13 19:37] Berserker66 commented on #34
Well, that is a much more complex discussion. Maybe we should open a new issue for that.
Since it was asked here, I'll give my thoughts.

So far, this module has been a very faithful and direct vulkan implementation, no bells and whistles (apart from some pythonizing of exceptions and i/o). However, as you call it, there are no helper functions.

We can look at other projects that do this, for exa

[2017-10-13 19:47] Berserker66 commented on #32
So, I dug some more into this. After I assembled some more experience assimilating a simpler C library with cython. Happened to be this one: https://github.com/smcameron/open-simplex-noise-in-c

Some things I learned -

The speed advantage is worthwhile, compared to python's opensimplex
https://pypi.python.org/pypi/opensimplex/0.1
it is over a magnitude faster and multithreads very well.

So, that

[2017-10-13 19:56] Berserker66 commented on #15
So, interesting coincidence. A friend of mine, volunteered to test my project. He has a GTX960, though non mobile. He happened to get this issue and it turned out his driver was from march. Updating the driver fixed this issue for him.

So - probably a driver issue.

[2017-10-13 20:01] TheSilvus commented on #15
It could be, I'm currently unable to access the laptop and it works on my other machine. I'll close the issue for now; if new problems pop up it can be reopened

[2017-10-13 20:01] #15 closed

[2017-10-14 04:38] sunbearc22 commented on #34
@realitix has provided an excellent vulkan wrapper to Vulkan. It is what it calms to be. Also, I know vulkan does serves as the basis for [vulk](https://github.com/realitix/vulk) and there I saw many helper functions relating to math and graphics, which gives enthusiast like myself better understanding on how to use vulkan to write a Vulkan app.

As to my suggestion, I am limiting my consideration

[2017-10-16 09:28] realitix commented on #34
Hi @sunbearc22, indeed it's nice to have helper functions. My [vulk](https://github.com/realitix/vulk) project can help for that. Like @Berserker66 said, it's better to create a separate project dedicated to these helper functions.

[2017-10-16 09:30] realitix commented on #15
Thanks for your work guys!

[2017-10-16 12:26] realitix commented on #32
Thanks @Berserker66 for this nice explanation.
It would be exclusive but do you see a use case where you would want to use both ?

[2017-10-16 12:42] sunbearc22 commented on #34
Noted @realitix. Thank @Berserker66 again for your helper functions.

[2017-10-16 12:42] #34 closed

[2017-10-16 12:46] Berserker66 commented on #32
Well, my own project would be such a use case. I can't vouch for how many other projects there  might be.

First off, there is the use case of having a replacement/alternative to the cffi module. Mostly useful for CPython. Where, as far as python and the "application programmer" is concerned the API is the same, basically a cython api that mimics the current module completely. Such a module should

[2017-10-16 12:53] Berserker66 opened #36 "Count arguments of vulkan structures are not necessary"
extracted from a discussion from here: https://github.com/realitix/vulkan/issues/34#issuecomment-335897767

calling len() on the passed arguments to a vulkan function can be handled by this module internally, making passing a Count optional.

Original post follows:

Hm. By the same token though, should it not also work this way the other way around then?
You know, for consistency.
So in this examp

[2017-10-17 02:39] sunbearc22 commented on #20
I encountered the same issue too. Like to summarize my learning from @realitix and The Vulkan Tutorial on this matter to remind myself and benefit other users.

_The lessons learnt_:
1. **When defining [Common Object Types](https://www.khronos.org/registry/vulkan/specs/1.0-extensions/html/vkspec.html#fundamentals-common-objects) such as Offset, Extent and Rectangle, the syntax defined by Vulkan Sp

[2017-10-18 08:38] sunbearc22 opened #37 "vkQueuePresentKHR returned None"
Hi realitix,
Is the function `vkQueuePresentKHR` suppose to return `None` or `VkResult`? I was expecting the latter.

I am attempting the resizeable window tutorial of [Vulkan Tutorial](https://vulkan-tutorial.com/Drawing_a_triangle/Swap_chain_recreation). I noticed that `vkQueuePresentKHR`  returns `None`.
[code]
Output:

[code]

[2017-10-18 08:56] realitix commented on #37
Hello @sunbearc22, it's strange because this function can't return `None`. Can you show how you initialize
[code]

[2017-10-18 09:03] sunbearc22 commented on #37
Yes. I just uploaded my codes https://github.com/sunbearc22/vulkan_examples/blob/master/HelloTriangle/vulkanbase_v3_recreateSwapChain.py#L208. version 3 codes.

[2017-10-18 10:24] sunbearc22 opened #38 "How to get the VkResult of vkAcquireNextImageKHR?"
Hi realitix, from [vulkan](https://github.com/realitix/vulkan/blob/master/vulkan/__init__.py#L4529) I noticed that `vkAcquireNextImageKHR` returns the index of the next presentable image in the swapchain, which it is suppose to do. However, how do I access the `VkResult` from this function? As you can see from my code [here](https://github.com/sunbearc22/vulkan_examples/blob/master/HelloTriangle/v

[2017-10-18 10:50] sunbearc22 commented on #38
I revisited vulkan readme on function says:

I think this is the correct way to write the logic. Correct?
[code]

[2017-10-18 12:59] realitix commented on #37
My last comment was wrong.
It's normal that it returns `None`. All functions return `None` with the wrapper. To catch the return value, you must use the exception system.

[2017-10-18 12:59] #37 closed

[2017-10-18 14:23] realitix commented on #33
Fixed by https://github.com/realitix/vulkan/commit/45927962466b6f19deaaadf79aca984fb4644f12

[2017-10-18 14:23] #33 closed

[2017-10-19 12:58] realitix commented on #36
Fixed by https://github.com/realitix/vulkan/commit/dc566edf4412fc740956c9c6c5507835d257b958

[2017-10-19 12:58] #36 closed

[2017-10-24 07:19] sunbearc22 opened #39 "Issue with function _new in vulkan's __init__.py"
Hi realitix...

There seem to be an issue in vulkan's `__init__.py`", line 2204, in function `_new`
[code]

My original code which used to work:
[code]
the error is in listcomp
`    for i in queue_family_indices ]`

Can you let me know what is wrong and how I can fix it?

[2017-10-24 09:20] sunbearc22 commented on #39
I just noticed that my codes had all chosen to use my onboard Intel Skylake GPU as the physical device instead of using my Nvidia GPU. I got the same outcome from using your `example_sdl2.py` code and validation layer complained it can't create a surface.

I recalled that my display driver was just upgrade to Nvidia 384.90 today from an earlier Nvidia driver. I suspect this may be an issue caused

[2017-10-24 14:50] realitix commented on #39
Hello @sunbearc22, I wait for your update but indeed it seems related to your driver.

[2017-10-26 11:01] sunbearc22 commented on #39
Yes, the issue is caused by Ubuntu's nvidia-384 driver. Fortunately, users can quickly rectify the matter, while Ubuntu's graphics driver maintainer fix the mistake. More details given [here](https://bugs.launchpad.net/ubuntu/+source/nvidia-graphics-drivers-384/+bug/1726809).

[2017-10-26 11:01] #39 closed

[2018-04-02 06:27] aarbour opened #40 "Support for MoltenVK (MacOs)?"
Does this currently support MoltenVK? I've added the components to my path and can run vulkaninfo but cannot get the example to run.

[code]
When I run vulkaninfo from the command line.

[code]

[2018-04-02 14:30] realitix commented on #40
Hello @aarbour,
Thanks for opening this issue.
Sadly, I can't test on IOS but I can upgrade this wrapper to the last Vulkan version.

I let you know when it's done, and then you will be able to test again.

[2018-04-02 14:56] realitix commented on #40
I have updated the wrapper to the 1.1.71 version, can you try again please ?

[2018-04-02 14:57] realitix commented on #40
Ok I understand the problem, I don't load the MoltenVK shared library.
Can you give me the name of the MoltenVk Shared library ?

[2018-04-02 15:47] aarbour commented on #40
So under the mac SDK download it is under the MoltenVK folder for both IOS and macOS. I am trying to use the macOS libs which has a:
- libMoltenVK.dylib
- MoltenVK.framework
- MoltenVK_icd.json

These are specific to macOs purely because of Apple's lockdown of Metal. Let me know if you need more information.

[2018-04-02 16:05] realitix commented on #40
We are going to update the code as is to check if it works.
Can you try the following test on your computer and let me know if it's working:

- Localize loaded version of `vulkan` (in your terminal):

[code]
You should see the path to the `__init__` file.

- Open the file `_vulkan.py` next to the `__init__` file.
- Line ~97:
Replace

[code]
by

[code]

It should work, and you can test it.
Let me k

[2018-04-02 16:21] aarbour commented on #40
Worked just fine. I followed the getting_started from the vulkan docs and put the libs in the appropriate folders. I am sure adding them to the path would render the same result.

![image](https://user-images.githubusercontent.com/845679/38204271-e110c1ce-3667-11e8-8318-9428613a1124.png)

[2018-04-02 16:21] #40 closed

[2018-04-02 16:22] aarbour commented on #40
One note that I'll need to figure out is that running one of the examples, I get:
[code]
I'll need to do some research but for now, the package loags.

[2018-04-02 16:47] realitix commented on #40
Ok, I'm adding it to the source code. Thanks!

[2018-04-13 18:27] Tcll opened #41 "No module named 'vulkan._vulkancache'"
love the fact it's pretty much standalone, but there's an issue upon extraction.
![image](https://user-images.githubusercontent.com/773959/38751471-397a6330-3f26-11e8-860f-a691ea8f7a62.png)
I'm using x86 Windows Anaconda on Wine (Linux) for testing
CWD is `Z:\home\tcll\Downloads\vulkan-1.1.71.2\`

[2018-04-13 18:33] Tcll commented on #41
quick correction from `_vulkancache` to `vulkan_build` gives me this:
![image](https://user-images.githubusercontent.com/773959/38751933-930b107e-3f27-11e8-9140-52148522ef2f.png)
this looks like it's something more on my end now, though I could be wrong ;)

[2018-04-16 12:15] realitix commented on #41
Hello @Tcll,
Thanks for reporting your issue.

What version of `cffi` are you using ? Can you try with the last `cffi` version ?

[2018-04-16 15:04] Tcll commented on #41
ah I was using the version that came with Anaconda 2.3.0 `cffi-1.1.0-py34_0`

I will work on downloading the updated wheels and set up a portable environment to see if that fixes the above issue.
thanks ;)

[2018-04-17 10:12] realitix commented on #41
Nice! Glad to help you

[2018-04-17 10:12] #41 closed

[2018-05-06 19:16] totex opened #42 "vkGetPhysicalDeviceSurfaceFormatsKHR"
Hello, i just installed the latest vulkan sdk and the latest python vulkan wrapper and also the latest glfw. I am totally new to the vulkan world, but i am experienced in opengl.
When i first run the example_glfw.py i had a problem with the VkSurfaceKHR, i solved it just by updating my graphics drivers.
But i can get through this error:
**Loader Message NULL pointer passed into vkGetPhysicalDevice

[2018-05-07 11:26] realitix commented on #42
Hello @totex,

Thanks for reporting the issue. Sadly I didn't write this test.
The only test I wrote is `example_sdl2.py`.
So I don't know how it works. I will move these tests in a subfolder named `contribs` that I can't manage myself.
Sorry for that.

[2018-05-21 07:38] mackst opened #43 "Reducing Vulkan API call overhead"
hi realitix,

Just read this blog few days ago.

[Reducing Vulkan API call overhead](https://gpuopen.com/reducing-vulkan-api-call-overhead/)

That's very similar this extension binding from cffi doing. The difference is that article was loading all API with `vkGetInstanceProcAddr `and `vkGetDeviceProcAddr`. In this extension only extension api were loading with those two function.
So I'm very curi

[2018-05-24 07:32] realitix commented on #43
Hello @mackst,
Indeed it's a good practice to use `vkGetInstanceProcAddr` and `vkGetDeviceProcAddr` to retrieve functions.
Like you know, these functions require an `Instance` or a `Device`. My wrapper has to be tiny so I don't want to manage this. The application is responsible of loading all functions.

If I expose all functions without the need to retrieve them, it's because the Vulkan SDK expo

[2018-05-25 07:13] mackst commented on #43
All functions of cause. But this is kind of draw attention issue not a have to be fixed issue(at least for me). I'm kind of happy for the current implementation and is not that slow. But there are peoples want to get more better performance. And this can be a way to improve the performance.

As you can see from the test it only speed up about 0.1s. By calling  `vkCreateInstance` and `vkDestroyInst

[2018-05-25 07:33] realitix commented on #43
Hello @mackst.
If you retrieve functions with `vkGetInstanceProcAddr` and `vkGetDeviceProcAddr` it will be faster.
Not because of `cffi`, but because you call the function directly in the driver instead of in the Vulkan SDK.

I looked at my code and indeed you are right. Like we can see [here](https://github.com/realitix/vulkan/blob/1.1.71.2/vulkan/_vulkan.py#L6656), we can only load extension fun

[2018-06-17 05:03] gevahn commented on #42
Hi @realitix,
I'm having the same issue in all examples, including example_sdl2.py. I've traced it to these [lines](https://github.com/realitix/vulkan/blob/2f3d2217ffbbda8305dafb08680a3a77a45cfd90/vulkan/_vulkan.py#L5219)
`pSurfaceFormatCount = ffi.new("uint32_t*")
pSurfaceFormats = ffi.NULL
result = _callApi(fn, physicalDevice, surface, pSurfaceFormatCount, pSurfaceFormats)`

pSurfaceFormatCount,

[2018-06-18 14:53] realitix commented on #42
Hello @gevahn,
in the `vkGetPhysicalDeviceSurfaceFormatsKHR`, `pSurfaceFormatCount` is not registered as `NULL`.
It's `pSurfaceFormats` which is registered as `NULL` for the first call.
That's the way it should work like you can see in the spec [here](https://vulkan.lunarg.com/doc/view/1.0.26.0/linux/vkspec.chunked/ch29s05.html).

`pSurfaceFormatCount` is initialized as `ffi.new('uint32_t*')`, so

[2018-06-19 01:18] gevahn commented on #42
Thanks for the quick replay.
I am using CFFI version 1.11.5. Nvidia driver 398.11.
Disabling Vulkan layers did not help...

[2018-07-26 06:11] sunbearc22 opened #44 "vkEnumerateInstanceVersion is not available."
Hi realitix. I think we need the `vkEnumerateInstanceVersion` function in `_vulkan.py` for Vulkan versions 1.1.70.0 and upwards.

According to [Spec](https://vulkan.lunarg.com/doc/view/1.1.77.0/windows/vkspec.html#vkGetInstanceProcAddr), this function is obtained using
[code]
After reading `_vulkan.py`, I noticed that `vkEnumerateInstanceExtensionProperties`, `vkEnumerateInstanceLayerProperties` a

[2018-07-28 06:43] sunbearc22 commented on #44
I tried appending the following  `vkEnumerateInstanceVersion` function at line 3728 of `_vulkan.py` to fake its presence but my above function still met the exception `ExtensionNotSupportedError`.
[code]

[2018-07-28 09:21] realitix commented on #44
Hello @sunbearc22,
Thanks for the report, I will look at it.

[2018-07-28 15:29] sunbearc22 commented on #44
@realitix. Thanks. BTW, is macro `VK_DEFINE_HANDLE` missing also?

I could not find it in `_vulkan.py` or `vulkan.cdef.h`.

[2018-08-01 08:34] sunbearc22 opened #45 "Name changes to structs and functions that have been promoted from 1.0 to 1.1."
I was reading [Spec 1.1.77.0](https://vulkan.lunarg.com/doc/view/1.1.77.0/windows/vkspec.html#vkEnumeratePhysicalDeviceGroups) and learnt about some changes in the naming of some functions and structs for Vulkan 1.0 to Vulkan 1.1. I also read [1.1.70.1 release notes](https://vulkan.lunarg.com/doc/sdk/1.1.70.1/windows/release_notes.html) and found the explanation for the naming changes. I believe

[2018-08-01 08:47] realitix commented on #45
Thanks for the update, I have to update the generator.

[2018-08-04 07:51] sunbearc22 opened #46 "Why can't create xcb surface?"
@realitix I noticed an issue with creating a xcb surface. My function to create such a surface is given below. However, `vkGetInstanceProcAddr` gives a `ProcedureNotFoundError`.

I can create a xlib surface. Also, previously I had tested the same code to make a xcb surface a year ago and that worked. Can you point me the cause of the issue as I can't figure it out? I have checked for the presence

[2018-08-04 08:14] sunbearc22 commented on #46
Pardon me. The issue was caused by my code and I have resolve it. Able to create xcb surface.

[2018-08-04 08:14] #46 closed

[2018-08-05 16:36] sunbearc22 opened #47 "vkGetPhysicalDeviceSurfaceCapabilitiesKHR gives VkErrorInitializationFailed for xcb surface"
**Issue:**
I obtained the following error in my code for an xcb surface during vulkan command 'vkGetPhysicalDeviceSurfaceCapabilitiesKHR'.
[code]

To investigate the issue, I used your [example_sdl2.py](https://github.com/realitix/vulkan/blob/master/example/example_sdl2.py) script and substituted all definitions pertaining to `xlib` with `xcb`. And I got the same error msg.

Changes made to `examp

[2018-08-21 09:10] realitix commented on #47
Hello @sunbearc22,
Sorry for my late reply.

I think the problem comes from your Vulkan driver.
To be sure, you can enable the debug layer, maybe you will find informations.

[2018-08-21 09:11] realitix commented on #45
I started to work on it today in the `new_version` branch.
It's not ready yet, I will let you know when it's done.

[2018-08-24 04:46] sunbearc22 commented on #45
Cheers. is the `new_version` branch visible? How do I see it?

[2018-08-24 05:44] sunbearc22 opened #49 "What is the correct `commandBuffer` parameter for `vkBeginCommandBuffer`?"
Hi realitx, I got a Python `TypeError` at `vkBeginCommandBuffer` when trying to copy a staging buffer to a vertex buffer.
[code]
It seems that the `commandBuffer` parameter I had passed to `vkBeginCommandBuffer` is the wrong type. I don't know why this is the case. The 'vkBeginCommandBuffer' occurred in my `copyBuffer` method is given below.
[code]
Referring to Vulk, I noticed you put `self.comman

[2018-08-24 07:26] sunbearc22 commented on #49
Hi realitix, thanks. Since 'self.commandBuffer_transfer' is a list,  I did a for-loop to pass its elements to commands from `vkBeginCommandBuffer`  to `vkEndCommandBuffer`, and it worked. :)

[code]

[2018-08-24 07:26] #49 closed

[2018-09-20 15:03] realitix commented on #47
Hello @sunbearc22,
I close this issue, you can reopen if you have more elements.

[2018-09-20 15:03] #47 closed

[2018-09-20 15:04] realitix commented on #45
Yes you can see this branch [here](https://github.com/realitix/vulkan/tree/new_version).
It's not ready yet, not so easy!

[2018-09-20 15:06] realitix commented on #44
Hello @sunbearc22,
It should be fixed when the `new_version` will be ready

[2018-09-27 01:28] sunbearc22 commented on #45
Thank you. Sincerely.

[2018-10-02 14:41] jekstrand opened #50 "Support for VK_KHR_mir_surface should be removed"
See also https://github.com/KhronosGroup/Vulkan-Docs/issues/814

[2018-10-03 06:57] realitix commented on #50
Thanks for the tips.
My generator will automatically remove it when it will be removed from the vulkan spec file.

[2018-10-03 06:57] #50 closed

[2018-10-11 20:24] apenngrace opened #51 "Still active?"
Do the versions of this repo necessarily track with the LunarG versions?  I see that this repo is currently at version 1.1.71.2.  LunarG's Vulkan SDK is now at 1.1.85.0 (as of Oct 2018).

By the way, if you are a Mac user, I created a vulkan installer for the homebrew package manager.  It can be installed with the command `brew cask install apenngrace/vulkan/vulkan-sdk`.  I have been testing this

[2018-10-12 06:39] realitix commented on #51
Hello,
Indeed it's still active, I'm updating the generator because of the V1.1 of Vulkan and when it will be done I will upgrade to the last SDK Version.
Glad to see that it works well on Mac!

[2018-10-12 11:18] apenngrace commented on #51
Any way I can help?

[2018-10-12 12:48] apenngrace opened #52 "Question about _wrap functions"
I see that certain functions are only defined with a `_wrap` prefix, such as `vkGetPhysicalDeviceSurfaceSupportKHR`.  It looks like such functions require a call to `vkGetInstanceProcAddr` or `vkGetDeviceProcAddr` in order to get a function pointer.

I'm wondering why certain functions are defined with `_wrap` and others aren't.

Thanks.

[2018-10-12 13:16] realitix commented on #52
Hello @apenngrace,
Indeed some functions require a call to `vkGetDeviceProcAddr`, extension functions.
Some functions don't need this call and are exposed directly by the SDK.
That's the reason.

[2018-10-12 13:54] apenngrace commented on #52
Could you clarify the circumstances for when the call is needed?

I’m wondering, are these functions only defined if certain extensions are enabled or something?

[2018-11-02 02:14] sunbearc22 opened #53 "Suggested condition for VkPipelineInputAssemblyStateCreateInfo"
Hi @realitix , according to Vulkan spec on [Drawing Commands](https://vulkan.lunarg.com/doc/view/1.1.85.0/windows/vkspec.html#drawing), `primitiveRestartEnable` must be `VK_FALSE` for certain topology.

I like to suggest appending [VkPipelineInputAssemblyStateCreateInfo](https://github.com/realitix/vulkan/blob/master/vulkan/_vulkan.py#L2534) with the below condition. What do you think?

[code]

[2019-02-08 09:26] realitix commented on #51
It's updated to 1.1.99!

[2019-02-08 09:26] #51 closed

[2019-02-08 09:29] realitix commented on #44
Hello @sunbearc22,
Can you try again, I just updated to the 1.1.99 SDK

[2019-02-08 09:30] realitix commented on #45
The master has been updated to last sdk

[2019-02-08 09:32] realitix commented on #53
Hello @sunbearc22, I would like to keep this wrapper as thin as possible.
It's the developer who must add this condition.

Thanks

[2019-02-08 09:32] #53 closed

[2019-05-10 09:49] sunbearc22 commented on #44
Hi realitx, apologies for my late reply.  May I know which [LunarG Vulkan SDK ](https://vulkan.lunarg.com/sdk/home) does [vulkan 1.1.99.0](https://pypi.org/project/vulkan/) uses? I could find these closes SDKs (1.1.97.0, 1.1.101.0, and 1.1.106.0).

[2019-05-21 13:01] mackst opened #54 "extensions functions call bugs"
vkGetPhysicalDeviceFeatures2 call is missing `sType = VK_STRUCTURE_TYPE_PHYSICAL_DEVICE_FEATURES_2`

[code]
Here is another C\C++ usage code which not able to do

[code]

vkGetPhysicalDeviceProperties2 is the same not able to assign other structs to pNext
[code]
Example of usage
[code]

I'm working on the VKRay examples and found out above issues. There could be more bugs. Right now I change the c

[2019-05-22 01:46] mackst commented on #54
[code]
`pData = ffi.new('void*')`
should be
`pData = ffi.new('uint64_t*')`

[2019-05-22 10:17] realitix commented on #54
Hello,

Thanks for the report, I will take a look.

[2019-05-26 08:46] mackst commented on #54
Hi realitix,

Found another one

[code]

This one maybe a bit more tricky.
The C++ example of usage

[code]

First `pData = ffi.new('void*')` is all ways failed to run.
Change to `pData = ffi.new('uint64_t*')` works but in the RTX pipeline we need this data to fill into the buffer.
And `vkMapMemory` return a ffi.buffer obj which I don't know howto fill the return data to it.
Here is the working ch

[2019-05-26 09:56] mackst commented on #54
`VK_SHADER_UNUSED_NV` should not be `None`
debug with C++ got this
`VK_SHADER_UNUSED_NV = 4294967295`

[2019-06-01 13:09] mackst commented on #54
here is the example code you can try
https://github.com/mackst/pyVkRayTutorials

[2019-06-06 23:09] stephane-13 opened #55 "Application unresponsive under Linux without vkQueueWaitIdle call"
When I run the program under Linux, the window is unresponsive and the whole screen is freezing intermittently.
Adding an extra call to vkQueueWaitIdle( presentation_queue ) at the end of the draw_frame() function solves the issue.
Is that something expected?

[2019-06-07 13:52] realitix commented on #55
Hello,

What program are you running ?

[2019-06-07 21:42] stephane-13 commented on #55
I'm running example/example_sdl2.py.
I think my issue is due to vsync being enabled (enforced) at the driver level.
The program, without vkQueueWaitIdle calls, hammers the rendering pipeline too fast.

[2019-06-11 03:14] weedgirl69 opened #56 "vkCreateGraphicsPipelines doesn't allow multiple pipelines"
see: https://github.com/realitix/vulkan/blob/07285387092aaa61d2d71fa2913d60a73f022cbe/vulkan/_vulkan.py#L5697

this should receive an output array, not an output pointer. compute pipelines too.

[2019-06-13 13:38] realitix commented on #55
Ok @stephane-13.
Did you find a way to fix this ?

If not, I will update the test with a Wait for each loop.

[2019-06-13 13:47] realitix commented on #54
I'm working on it.
Extension functions are not well managed...

[2019-06-13 14:10] realitix commented on #54
I fixed the first problem, you can now override the return value in extension functions (so you can set stype and pnext manually).
I'm working on the others problems.

[2019-06-13 14:46] realitix commented on #54
Ok I fixed everything, can you try with the master version.

[2019-06-13 14:47] realitix commented on #56
Hello @weedgirl69.
Thanks for the report. I'm looking at it

[2019-06-13 15:01] realitix commented on #56
Indeed good catch

[2019-06-14 06:50] mackst commented on #54
Thanks fix it. I tied. There still small issues.
Take `vkGetPhysicalDeviceProperties2` for example

[code]
Will get error
[code]
If `pProperties` is given should just return it.

[2019-06-15 20:24] stephane-13 commented on #55
Yes, as I mentioned above, I had to add a call to vkQueueWaitIdle at the end of the draw_frame() function to limit the number of frames submitted to the rendering pipeline.

I assume that when vsync is enabled, the frames are sent too quickly (i.e. faster than 60Hz in my case) and the vkQueueWaitIdle call ensures that the previous frame has been processed before sending the next one.

[2019-06-20 11:15] realitix commented on #54
Hello @mackst, I pushed a commit to fix it.
Can you try again ?

[2019-06-20 11:46] realitix commented on #56
I fixed in commit 8fc302d79987ffed92cb2de52f9e892e54c473f5.
I will upload a new version on pypi soon.

[2019-06-20 11:50] #55 closed

[2019-06-20 11:51] realitix commented on #55
I fixed it.
When I add the wait, I move from 6000FPS to 5000FPS but for this test it's not a problem.

[2019-06-20 12:02] realitix commented on #32
Hello @Berserker66 , I close this issue for now.
Maybe someone would create a Cython interface one day !

[2019-06-20 12:02] #32 closed

[2019-06-20 12:06] realitix commented on #43
Hello @mackst, I really have to work on this !
It's a must have feature, shame on me :see_no_evil:

[2019-06-20 12:12] realitix commented on #44
Hello @sunbearc22.
It should work now.
I will push a new version soon on pypi.

[2019-06-20 12:12] #44 closed

[2019-06-20 12:14] realitix commented on #45
I can close since I updated to last SDK.

[2019-06-20 12:14] #45 closed

[2019-06-20 12:17] realitix commented on #52
Hello @apenngrace.
Sorry for my late reply, extensions function are not guaranteed to be present because they are extensions like the KHR functions for example. To enable it, you have to add the extension when you create the device and you must have a driver that support it.

I hope it answers to your question.

[2019-06-20 12:17] #52 closed

[2019-06-20 12:27] mackst commented on #54
Cool. All works.

[2019-06-20 12:27] #54 closed

[2019-06-20 12:29] realitix commented on #54
great

[2019-06-26 15:07] realitix commented on #56
The version 1.1.99.1 fixes it.

[2019-06-26 15:07] #56 closed

[2019-07-08 14:26] pieper opened #57 "VkPipeline array type incorrect (compute example fails)"
(First - thanks for the cool package!).

Running the compute example fails with the trace below.  I tried various fixes like `ffi.new("VkPipeline*")` etc but didn't find a way to fix it.  I get the same behavior on linux and mac installations using either the pip package or installation from source.

It looks like this is related to #56.

[code]

[2019-07-08 15:28] realitix commented on #57
Hello,
Thanks for the report. Index I didn't updater the contrib tests. I will take a look.

[2019-07-11 20:16] pieper commented on #57
Is there a version of the code in github or pypy that should work for the compute example?

[2019-07-13 16:48] realitix commented on #57
You can try at this commit: https://github.com/realitix/vulkan/commit/6033845aa77d7d272e6d1be03f30b00fa1ac9c37

[2019-07-13 21:41] pieper commented on #57
Yes, that one works - thanks!

[2019-08-13 08:14] buzmeg opened #58 "example_sdl2.py has unstable FPS because it lacks completion fence/semaphores"
This is probably related to Bug #55

In my instance, vkAcquireNextImageKHR burns through a handful of buffers at max speed, and then settles down to 60Hz (1 buffer every 16.6666666 ms).  I suspect that this would put a 10-15 frame latency in things I do if this were an active application rather than an example.

I'm on Windows 10, a Microsoft Surface Pro, with Intel UHD Graphics 620 via the extern

[2019-08-21 06:16] realitix commented on #58
Hello @buzmeg, I will take a look at your issue.
Thanks for submitting.

[2019-09-24 22:27] TylerGubala opened #59 "example program fails with various validation errors"
Thank you for creating the Python Vulkan Bindings.

I am just now trying to become more familiar with Vulkan on Python. For some reason I am having an issue running the example.

I installed SDL2 and PYSDL2 on my computer and placed the binary in my `venv`'s `site-packages` directory, prepending the following line above `import sdl2`:

[code]

I then tried running the example using the latest SDL2

[2019-11-07 11:45] spencerelliott commented on #59
I am also experiencing this on my Surface Book. I will get more logs once I get to my computer.

[2019-11-07 13:01] realitix commented on #59
Hello,
I never see this error, I will take a look.
Thanks for the report.

[2019-11-07 13:21] realitix commented on #59
The error we see comes from [here](https://github.com/realitix/vulkan/blob/master/example/example_sdl2.py#L177), the `surface` pointer is bad.
So it means that the problem comes from the surface creation for Windows [here](https://github.com/realitix/vulkan/blob/master/example/example_sdl2.py#L121).

The problem may comes from the function `GetWindowLongA` which is not compatible with 64 bits Wind

[2019-11-09 19:53] spencerelliott commented on #59
I'm getting this stack trace:
`Traceback (most recent call last):
  File "c:/Users/spenc/Documents/Python/vulkan/example/example_sdl2.py", line 145, in <module>
    surface = surface_mapping[wm_info.subsystem]()
  File "c:/Users/spenc/Documents/Python/vulkan/example/example_sdl2.py", line 134, in surface_win32
    hinstance=get_instance(wm_info.info.win.window),
  File "c:/Users/spenc/Documents/Py

[2019-11-09 20:06] realitix commented on #59
Indeed you must change the function name on line https://github.com/realitix/vulkan/blob/master/example/example_sdl2.py#L126 too

[2019-11-09 20:08] spencerelliott commented on #59
Ah, that's my bad. I'll try out again soon. Thank you.

[2019-11-11 17:07] spencerelliott commented on #59
It seems like the method cannot be found in `user32.dll`. I'm not sure why since Microsoft even suggests using the method you described.
[code]

[2019-11-11 18:15] realitix commented on #59
Strange, I have to try but I need to boot a Windows machine. I can't do it soon.

[2019-12-11 20:54] TylerGubala commented on #59
@realitix Any way we can help? I know machine availibility woes. Have you done Gitcoin before? I'd be willing to bet some folks want to learn this as badly as I.

[2019-12-11 21:21] realitix commented on #59
OK @TylerGubala, I will try to take some time next week to install a Windows machine.

[2020-02-12 00:38] okuma10 opened #60 "unable to install"
Both pip and manual install gives me this error.

`WARNING: The wheel package is not available.
WARNING: The wheel package is not available.
  ERROR: Command errored out with exit status 1:
   command: 'D:\Nikola\Python\Projects\10RealWorldApps\venv\Scripts\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Okuma_10\\AppData\\Local\\Temp\\pip-wheel-tekhmmz1\\pycpars

[2020-02-13 13:57] barkermn01 commented on #59
If this is a problem with `GetWindowLongA` because it's 32 bit, should it not detect OS Architecture if 64Bit switch to `GetWindowLongW`,

[2020-02-14 18:38] realitix commented on #59
Sorry I didn't take time earlier. I just installed a new windows vm, I will work on it tomorrow.

[2020-02-16 17:57] okuma10 commented on #60
I guess the issue was with 'pycparser' module.
It had to be installed to work.

[2020-05-30 12:19] JackWitherell opened #62 "Some API Wrappers are built-to-fail"
I will be using vkGetPhysicalDeviceSurfaceSupportKHR as an example in this case as it causes the example code to fail on my machine.

When running the example code mentioned in the docs, I found that my device (a laptop with NV 1660Ti and Intel HD Graphics 630) had 3 available queue families. When running [L174](https://github.com/realitix/vulkan/blob/master/example/example_sdl2.py#L174) of the ex

[2020-05-30 13:12] JackWitherell commented on #62
Or I could be completely wrong and one of my queue families returns exception code 228 on vkGetPhysicalDeviceSurfaceSupportKHR, as a super niche error that only I have.

[2020-05-30 14:00] JackWitherell commented on #62
After further investigation it turns out that user totex mentioned this issue in Issue #42 . He claims to have solved this issue by updating his graphics drivers.

In bypassing the issue I'm having, I ended up falling into the error in Issue #42 and solved it by making sure everything matched. 64 bit python, 64 bit SDL2.dll ended up doing the trick and also fixing this issue as well.

Debugging th

[2020-05-30 14:00] #62 closed

[2020-07-08 17:23] Gladox114 opened #63 "Example program freezes my PC when interacting with something"
I am on Linux (Distro: POP!_OS 20.04) with official Nvidia Drivers (440.100) on a GTX 1050

If i click on the window or something behind the window or anything then my pc freezes and it takes a few seconds to be able to interact again.

Here is the whole console.

[code]
The lag spikes are the freezes

[2020-07-10 13:20] realitix commented on #63
Hello,

I can't help you with that.
It may be a problem with your driver or SDK. This example works for almost
everyone.

Sorry.

Le mer. 8 juil. 2020 à 19:23, Gladox114 <notifications@github.com> a écrit :

[2020-07-18 17:05] okuma10 opened #65 "Need VK_RESULT"
following the tutorial from vulkan-tutorial.com I'm at the part with the swapchain recreation due to window resizing.
In the tutorial the `VK_RESULT`  from `vkAcquireNextImageKHR` is tested for `VK_ERROR_OUT_OF_DATE_KHR` as a trigger for swapchain recreation. But the python Vulkan module returns only the imageIndex.

Maybe in such cases the wrapper could return a tuple, and thus such a function ca

[2020-07-18 17:23] #65 closed

[2020-07-18 17:24] okuma10 commented on #65
already answered in https://github.com/realitix/vulkan/issues/38

[2020-07-18 19:31] ompadu opened #66 "Vulkan 1.2.141.2"
Hi @realitix , does the possibility exist to update the wrapper to the latest Vulkan version?
Thank you

[2020-07-22 08:24] realitix commented on #66
Hello @ompadu.
Yes indeed there is no problem to update it.
You just have to update the files in `vulkan_include` folder in the `generator` and then launch `generate.py`.
I will do it when I have time but you can do it if you can't wait.

Thanks

[2020-07-22 08:24] #66 closed

[2020-07-23 08:05] ompadu commented on #66
I don't mind updating it for myself.

Can it be done on windows? Last time I took a look at `generate.py` it seemed that it used a Linux utility.

[2020-08-05 19:25] okuma10 commented on #66
I tried to update it as well.
But got an error :
[code]

[2020-08-19 06:30] okuma10 opened #67 "Debug Utils Messenger error"
when enabling `VK_DEBUG_UTILS_MESSAGE_SEVERITY_INFO_BIT_EXT` in VkDebugUtilsMessengerCreateInfoEXT

I get an error to the console. The message still prints but I get this as well:
[code]

I tried with no printing in the debug function, just a `pass` and with no message I still get the error.
Removing the flag removes the error.

[2020-08-24 07:22] realitix commented on #67
Hello @okuma10, can you show me the code that create this error ?

[2020-08-24 07:40] okuma10 commented on #67
Well...I'm not sure if it is something in my code, this is the third time I make a new project and whenever I enable the INFO_BIT , I get that error

But I found I get the error when I make the logical device,
I get the messages, but then I get the same amount of lines in errors
Here is a snippet from the last message line and the first error line in the output:

[code]

but here is my debug repor

[2020-09-02 05:17] IsaiasDimitri commented on #63
I solved this problem running `sudo ubuntu-drivers autoinstall` and rebooting my system. I guess it's issue comes from Pop_OS (NVIDIA) iso image, but I don't now why.
[code]
Then, it started to work really well
![Captura de tela de 2020-09-02 02-05-20](https://user-images.githubusercontent.com/23100444/91934549-0af72100-ecc2-11ea-97a3-f0e7d5b45424.png)

[2020-09-03 17:00] realitix commented on #63
Thanks for the feedback

[2020-09-03 17:00] #63 closed

[2020-09-06 02:17] karbiv opened #68 "SDL2 example is now broken(easy to fix)"
**Only** `VK_LAYER_KHRONOS_validation` is correct, ALL other validation layers are [deprecated](https://vulkan.lunarg.com/doc/view/1.1.114.0/windows/validation_layers.html).
With `VK_LAYER_LUNARG_standard_validation`, `vkCreateInstance` throws an error: _vulkan._vulkan.VkErrorLayerNotPresent_

https://github.com/realitix/vulkan/blob/ac83f887c3575892dc121376b5ac0c05076c4979/example/example_sdl2.py#

[2020-09-14 05:54] Program-The-World opened #69 "Vulkan is Failing to Install on Windows 10"
As I was writing this request for help, I found a fix for it, so I decided I might as well share the solution for my problem.
My problem was quite simply this: Vulkan wouldn't install through the `pip install vulkan` command. It would download the package, wait about fifteen seconds, then it would spit out a big error.

I was stuck on this for a few days, then I ran into a fix on a github issue fo

[2020-10-10 02:48] Program-The-World commented on #69
Hey @realitix , yes, I did experience this issue on Windows 10.

[2021-01-21 20:29] tcdtech opened #71 "Generating for latest version (1.2.162.1)"
The raytracing functions were added officially in 1.2.162.0 and I'd love to have a play with them, so I've set myself the task of generating the files for the latest version.

I'm running Win10 x64 with Python 3.8.5 x64

Firstly, confirm I have the right idea:

- git clone this repo somewhere
- install the vulkan sdk of the right version
- copy vk.xml from VulkanSDK/<version>/share/vulkan/registry

[2021-02-26 16:02] AwesomeNoob999 opened #72 "Errors out"
I am using the example_sdl2.py and it pops up this in the terminal and kills the window.
Logical device and graphic queue successfully created
selected format: 44
3 available swapchain present modes
5 images view created
XIO:  fatal IO error 0 (Success) on X server ":0.0"
      after 194 requests (194 known processed) with 36 events remaining.

[2021-03-19 16:55] realitix commented on #72
Hello @AwesomeNoob999,
The problem comes from you X server. I can't help you on this, it's not directly related to `vulkan`.

Sorry.

[2021-03-19 16:55] #72 closed

[2021-03-19 17:00] realitix commented on #71
Hello @tcdtech,

Sorry for the late reply, I didn't see the issue.
Indeed when updating vulkan version, often errors appear because the vk.xml format can change... And the script works with the current vk.xml format.

Yes you are clearly in the good direction, it's the way to do it. If you can continue to work on it, I will be glad to update the script with your modification. You can send a pull r

[2021-03-19 17:06] realitix commented on #69
Thanks @Program-The-World, I updated the README.

[2021-03-19 17:06] #69 closed

[2021-08-18 14:37] #68 closed

[2021-08-18 14:41] realitix commented on #67
Hello @okuma10, Can you give me the minimum of code allowing me to reproduce your issue ?
Thanks

[2021-08-18 14:42] realitix commented on #71
Hello @tcdtech, did you manage to upgrade the version ?

[2021-08-18 14:45] realitix commented on #60
Hello, Pycparser is a dependancy of cffi so you shouldn't need to install it manually, strange...

[2021-08-18 14:45] #60 closed

[2021-08-18 15:47] realitix commented on #58
Hello, the test is just a sample to show it works. The developer then has to take care of utilization in order to get the maximum performance of Vulkan.

[2021-08-18 15:47] #58 closed

[2021-09-02 09:40] DarkApocalypse opened #73 "example_sdl2.py crash in mainloop: BadDrawable"
I tried to launch example_sdl2.py but i got an error:
[code]
is it normal?

[2021-09-02 12:14] DarkApocalypse commented on #73
It works with this fix
Thanks

[2021-09-18 03:46] Freed-Wu commented on #68
I still met this bug:

[code]

OS: linux 5.13.13
python-vulkan: 1.1.99.1-1

[2021-09-19 08:28] realitix commented on #68
Yon don't have any layer available so it's a problem on your environment.

[2021-10-03 17:33] Qlii256 opened #74 "vkAcquireNextImageKHR results in VkSuboptimalKhr"
I cannot render anything on screen because vkAcquireNextImageKHR keeps raising the exception VkSuboptimalKhr. I've read online that when this happens I can "ignore" it and continue on with the drawing of the frame. However, later on when submitting the image-index returned by vkAcquireNextImageKHR is None because it raised an expection.

pCommandBuffers=[self._command_buffers[image_index], ],

Wha

[2021-10-04 07:36] realitix commented on #74
Hello @Qlii256,
Indeed if an exception is raised you can't get the image index (like you can see here: https://github.com/realitix/vulkan/blob/master/vulkan/_vulkan.py#L7170 )
Maybe adding a parameter to the function to bypass the exception raising.. Else you should fix this exception.

[2021-12-19 15:46] jsfrancal opened #75 "VK_KHR_PORTABILITY_SUBSET_EXTENSION_NAME constant missing?"
Hi,
Thank you so much for this great package,
I'm using Vulkan with MacOS and the LunarG Vulkan over Metal.

On init the validation layer produces de warning message below (non-blocking).
I try to include the constant VK_KHR_PORTABILITY_SUBSET_EXTENSION_NAME but it is undefined in the Vulkan namespace.
Is there an easy way around this or something to be done at the package level to create the cons

[2021-12-20 16:53] realitix commented on #75
Hello @jsfrancal, thanks for your report.
I think the VK_KHR_PORTABILITY_SUBSET_EXTENSION_NAME contant is not defined because the generator should be updated. Meanwhile you can create this constant yourself
VK_KHR_PORTABILITY_SUBSET_EXTENSION_NAME = 164

[2022-01-03 23:13] jsfrancal commented on #75
Thanks for your quick reply, I was able to get around this issue cleanly simply by using the intended string substitute of VK_KHR_PORTABILITY_SUBSET_EXTENSION_NAME which is 'VK_KHR_portability_subset'. That in turn resulted in the validator asking for the instance extension 'VK_KHR_get_physical_device_properties2'. Once both of these are activated all warnings disappear and the application works a

[2022-01-04 17:05] realitix commented on #75
Ok thanks

[2022-01-04 17:05] #75 closed

[2022-01-11 18:45] okuma10 commented on #67
I think I just found the reason for the error, my debug function needed to have a `return True` at the end.

[2022-01-11 18:45] #67 closed

[2022-02-03 22:23] julianfl0w commented on #71
Possible upgrade PR77
https://github.com/realitix/vulkan/pull/77

[2022-02-26 11:34] okuma10 opened #78 "Getting the int handles to vulkan objects."

[2022-02-27 08:45] okuma10 commented on #78
Another case of me finding my own answer, but for anyone that might be wandering:
One has to `cast` the cdata Vk<object_type>_T* to the uint type specified in the spec.
So for the object I wanted to cast, I did:
[code]

just as a note...sadly vkSetDebugUtilsObjectNameEXT needs VkDevice as it's first parameter, and thus I can't set an object name  for the VkDevice or the VkInstance. But apparently

[2022-05-06 00:54] jsef5 opened #79 "Fix "module 'collections' has no attribute 'Iterable'""
When trying to run basic example it throws the following error
[code]
You can easily fix this by changing
[code]
to this
[code]

[2022-05-06 00:55] jsef5 commented on #79
Im not really sure how backwards compatibility will work though

[2022-05-09 16:14] #79 closed

[2022-06-24 21:45] imandresilva opened #81 "Update version available on PyPi"
The version currently available on PyPi doesn't work with Python > 3.8.
There have been multiple changes and tags since the last one available on PyPi, some of which seem to fix problems originated from the more recent versions of Python.

[2022-07-31 22:54] okuma10 opened #82 "Missing Struct VkPipelineCacheHeaderVersionOne"
According to Spec
VkPipelineCacheHeaderVersionOne is present since version 1.0, but missing in PyVulkan.
But it's  enums are present.
like 'VK_PIPELINE_CACHE_HEADER_VERSION_ONE' which is the header version.

[2022-08-09 01:45] shadow7412 opened #84 "Cannot run example shown in readme"
I get the following stack trace when attempting to run example_sdl2.py;

[code]

Could it be that python 3.10 isn't supported yet?

[2022-08-09 01:47] shadow7412 commented on #84
Looks like merging #83 should fix this.

[2022-08-21 19:17] cdelacruzpinto opened #85 "Compatibility flag is not available"
In the following Vulkan documentation (https://vulkan.lunarg.com/doc/sdk/1.3.216.0/mac/getting_started.html) ,the following instance flag is referenced: "VK_INSTANCE_CREATE_ENUMERATE_PORTABILITY_BIT_KHR", which is not available to be imported in the python wrapper library.

This is to solve the following issue under OS X:
[code]

I take the opportunity to thank you for your awesome work of creatin